// @import "./header/header.scss";
// @import "./main/main";
@import "./_reset";

:root {
    --Very-dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: rgba(0, 0, 0, 0.75);
    --Orange: hsl(26, 100%, 55%);
    --Pale-orange: hsl(25, 100%, 94%);
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: "Kumbh Sans", sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;


    header {
        width: 80%;
        height: 120px;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--Grayish-blue);
        @media (max-width: 500px) {
            width: 100%;
        }

        .logo-wrapper {
            height: 120px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;

            .hamburger-menu {
                display: none;
                width: 20px;
                height: 20px;
                cursor: pointer;
                @media (max-width: 1060px) {
                    display: block;
                }
    
                img {
                    width: 100%;
                    height: 100%;
                    inset: 0;
                }
            }
        }

        nav {
            flex: 1 1;
            height: 100%;
            position: relative;
            
            @media (max-width: 1060px) {
                display: none;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background-color: #00000090;
                z-index: 9;

                &.active {
                    display: flex;
                }
            }

            .close-menu {
                display: none;
                width: 20px;
                height: 20px;
                position: absolute;
                top: 20px;
                left: 20px;
                @media (max-width: 1060px) {
                    display: block;
                    z-index: 9;
                }
            }

            .navbar {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: flex-start;
                padding-left: 50px;
                align-items: center;
                @media (max-width: 1060px) {
                    width: 75%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-color: var(--White);
                    padding: 80px 20px;
                }

                ul {
                    height: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 50px;
                    @media (max-width: 1060px) {
                        width: 100%;
                        height: 100%;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        gap: 20px;
                    }

                    li {
                        cursor: pointer;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-bottom: 3px solid transparent;
                        color: var(--Dark-grayish-blue);
                        @media (max-width: 1060px) {
                            width: fit-content;
                            height: fit-content;
                        }

                        &.active {
                            border-color: var(--Orange);
                            color: var(--Very-dark-blue);
                            @media (max-width: 1060px) {
                                border-color: transparent;
                                color: #000000;
                            }
                        }

                        &:hover {
                            border-color: var(--Orange);
                            color: var(--Very-dark-blue);
                            @media (max-width: 1060px) {
                                border-color: transparent;
                                color: #000000;
                            }
                        }

                        span {
                            font-size: 16px;
                            @media (max-width: 1060px) {
                                font-weight: bolder;
                                color: #000000;
                            }

                        }
                    }
                }
            }
        }

        .user-actions {
            width: fit-content;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            position: relative;

            .basket {
                width: fit-content;
                height: 100%;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                


                .basket-image {
                    width: 25px;
                    height: 25px;
                    background-color: var(--White);

                    &:hover {
                        &~.basket-dropdown {
                            display: flex;
                        }
                    }
                }

                .basket-dropdown {
                    background-color: var(--White);
                    width: 300px;
                    height: fit-content;
                    display: none;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    position: absolute;
                    top: 80%;
                    right: 0;
                    border-radius: 10px;
                    -webkit-box-shadow: -7px 26px 50px -10px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: -7px 26px 50px -10px rgba(0, 0, 0, 0.75);
                    box-shadow: -7px 26px 50px -10px rgba(0, 0, 0, 0.75);

                    &.active {
                        display: flex;
                    }


                    .dropdown-header {
                        width: 100%;
                        padding: 20px;
                        border-bottom: 1px solid var(--Grayish-blue);

                        h3 {
                            color: var(--Very-dark-blue);
                        }
                    }

                    .dropdown-main {
                        width: 100%;
                        max-width: 300px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px;
                        position: relative;

                        .empty-message {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 100%;
                            height: 100%;
                            display: none;
                            justify-content: center;
                            align-items: center;
                            font-size: 16px;
                            color: var(--Dark-grayish-blue);

                            &.active {
                                display: flex;
                            }
                        }

                        .cart-products {
                            width: 100%;
                            height: 250px;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;

                            .product {
                                width: 100%;
                                height: 70px;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                gap: 5px;

                                &-image {
                                    width: 50px;
                                    height: 50px;

                                    img {
                                        width: 100%;
                                        height: 100%;
                                        inset: 0;
                                        border-radius: 10px;
                                    }
                                }

                                &-info {
                                    flex: 1 1;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-around;
                                    align-items: flex-start;
                                    gap: 7px;

                                    .product-price {
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        gap: 15px;

                                        span {
                                            font-size: 18px;
                                            font-weight: bold;
                                        }
                                    }
                                }
                            }
                        }

                        .checkout-button {
                            width: 100%;
                            height: 40px;
                            display: none;

                            &.active {
                                display: block;
                            }

                            button {
                                width: 100%;
                                height: 100%;
                                background-color: var(--Orange);
                                color: var(--White);
                                border: none;
                                outline: none;
                                cursor: pointer;
                                border-radius: 10px;
                                font-size: 13px;
                            }
                        }
                    }
                }

            }

            .user-profile {
                width: 45px;
                height: 45px;
                cursor: pointer;
                border-radius: 50%;

                &:hover {
                    border: 3px solid var(--Orange);
                }

                img {
                    width: 100%;
                    height: 100%;
                    inset: 0;
                }
            }
        }
    }

    main {
        width: 80%;
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 1060px) {
            height: 100%;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
        @media (max-width: 500px) {
            width: 100%;
        }

        .banner-section {
            width: 50%;
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 100px 50px;
            @media (max-width: 1260px) {
                padding: 100px 0;
            }
            @media (max-width: 1060px) {
                width: 400px;
                height: fit-content;
                padding: 50px 0;
            }
            @media (max-width: 500px) {
                width: 100%;
                height: fit-content;
                padding: 0;
            }

            .image-wrapper {
                width: 450px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                gap: 30px;
                @media (max-width: 1260px) {
                    width: 100%;
                }

                .banner-galeri {
                    width: 100%;
                    height: 100%;
    
                    img {
                        display: none;
                        width: 100%;
                        height: 100%;
                        inset: 0;
                        border-radius: 10px;
                        object-fit: contain;
                    }
                }

                .banner-image {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    position: relative;

                    .banner-next-button {
                        z-index: 15;
                        width: 40px;
                        height: 40px;
                        padding: 12px;
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        background-color: var(--White);
                        border-radius: 50%;
                        display: none;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        @media (max-width: 500px) {
                            display: flex;
                        }
                    }
                    .banner-prev-button {
                        z-index: 15;
                        width: 40px;
                        height: 40px;
                        padding: 12px;
                        position: absolute;
                        top: 50%;
                        left: 10px;
                        transform: translateY(-50%);
                        background-color: var(--White);
                        border-radius: 50%;
                        display: none;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        @media (max-width: 500px) {
                            display: flex;
                        }
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        inset: 0;
                        object-fit: contain;
                        border-radius: 10px;
                        @media (max-width: 500px) {
                            border-radius: 0;
                        }
                    }
                }

                .other-pictures {
                    width: 100%;
                    height: fit-content;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    @media (max-width: 500px) {
                        display: none;
                    }

                    .picture {
                        width: 80px;
                        height: 80px;
                        border-radius: 12px;
                        cursor: pointer;

                        &.active {
                            border: 2px solid var(--Orange);

                            &.active img {
                                opacity: 0.3;
                            }

                        }

                        &:hover {
                            opacity: 0.5;
                        }


                        img {
                            width: 100%;
                            height: 100%;
                            inset: 0;
                            border-radius: 10px;
                        }
                    }
                }
            }
        }

        .content-section {
            width: 50%;
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 100px 50px;
            @media (max-width: 1060px) {
                width: 400px;
                height: fit-content;
                padding: 20px 0;
            }
            @media (max-width: 500px) {
                width: 100%;
                height: fit-content;
                padding: 10px;
            }

            .product {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                padding-right: 180px;
                gap: 30px;
                @media (max-width: 1700px) {
                    padding-right: 0;
                }

                &-company {
                    width: 100%;

                    h3 {
                        font-size: 12px;
                        letter-spacing: 1px;
                        font-weight: bolder;
                        color: var(--Orange);
                    }
                }

                &-title {
                    width: 100%;

                    h2 {
                        font-size: 50px;
                        font-weight: bolder;
                        @media (max-width: 500px) {
                            font-size: 36px;
                        }
                    }
                }

                &-description {
                    width: 100%;

                    p {
                        font-size: 16px;
                        line-height: 25px;
                        
                    }
                }

                &-price-wrapper {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 20px;
                    @media (max-width: 500px) {
                        flex-wrap: nowrap;
                    }

                    .price {
                        span {
                            font-size: 28px;
                            font-weight: bold;
                        }
                    }

                    .discount {
                        background-color: var(--Pale-orange);
                        padding: 3px 10px;

                        span {
                            font-size: 16px;
                            color: var(--Orange);
                            font-weight: bold;
                        }
                    }

                    .previous-price {
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                        p {
                            color: var(--Grayish-blue);
                            font-weight: bold;
                            font-size: 14px;
                        }
                    }
                }

                &-actions {
                    width: 100%;
                    display: flex;
                    gap: 15px;
                    @media (max-width: 500px) {
                        flex-direction: column;
                    }

                    .product-quantity {
                        width: 30%;
                        height: 50px;
                        background-color: var(--Light-grayish-blue);
                        border-radius: 10px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        @media (max-width: 500px) {
                            width: 100%;
                        }

                        .minus {
                            width: 30%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                        }

                        .quantity-screen {
                            width: 30%;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            span {
                                font-weight: bold;
                                font-size: 14px;
                            }
                        }

                        .plus {
                            width: 30%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                        }
                    }

                    .add-to-cart {
                        width: 60%;
                        height: 50px;
                        @media (max-width: 500px) {
                            width: 100%;
                        }

                        button {
                            width: 100%;
                            height: 100%;
                            border: none;
                            outline: none;
                            cursor: pointer;
                            border-radius: 10px;
                            background-color: var(--Orange);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 20px;

                            p {
                                color: var(--White);
                                font-size: 12px;
                            }
                        }
                    }
                }

            }
        }
    }
}

.modal-container {
    z-index: 9;
    width: 100%;
    height: 960px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000090;
    display: none;
    justify-content: center;
    align-items: center;

    &.active {
        display: flex;
        @media (max-width: 500px) {
            display: none;
        }
    }

    .modal {
        width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        @media (max-width: 700px) {
            width: 100%;
            padding: 10px;
        }
        @media (max-width: 500px) {
            display: none;
        }

        .close-modal-wrapper {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            cursor: pointer;

            img {
                width: 20px;
                height: 20px;
                inset: 0;
            }
        }

        .modal-image {
            width: 100%;
            height: 100%;
            position: relative;

            .modal-galeri {
                width: 100%;
                height: 100%;

                img {
                    display: none;
                    width: 100%;
                    height: 100%;
                    inset: 0;
                    border-radius: 10px;
                    object-fit: contain;
                }
            }



            .prev-button {
                width: 50px;
                height: 50px;
                padding: 15px;
                background-color: var(--White);
                border-radius: 50%;
                position: absolute;
                left: -25px;
                top: 50%;
                transform: translateY(-50%);
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                @media (max-width: 700px) {
                    left: 25px;
                }

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .next-button {
                width: 50px;
                height: 50px;
                padding: 15px;
                background-color: var(--White);
                border-radius: 50%;
                position: absolute;
                right: -25px;
                top: 50%;
                transform: translateY(-50%);
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                @media (max-width: 700px) {
                    right: 25px;
                }

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .other-modal-pictures {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .js-picture {
                width: 20%;
                cursor: pointer;
                border-radius: 15px;

                &.active {
                    border: 3px solid var(--Orange);

                    &.active img {
                        opacity: 0.4;
                    }
                }

                &:hover {
                    opacity: 0.5;
                }

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                }
            }
        }
    }
}