header {
  width: 80%;
  height: 120px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--Grayish-blue);
}
@media (max-width: 500px) {
  header {
    width: 100%;
  }
}
header .logo-wrapper {
  height: 120px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
header .logo-wrapper .hamburger-menu {
  display: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
@media (max-width: 1060px) {
  header .logo-wrapper .hamburger-menu {
    display: block;
  }
}
header .logo-wrapper .hamburger-menu img {
  width: 100%;
  height: 100%;
  inset: 0;
}
header nav {
  flex: 1 1;
  height: 100%;
  position: relative;
}
@media (max-width: 1060px) {
  header nav {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5647058824);
    z-index: 500;
  }
  header nav.active {
    display: flex;
  }
}
header nav .close-menu {
  display: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  left: 20px;
}
@media (max-width: 1060px) {
  header nav .close-menu {
    display: block;
    z-index: 9;
  }
}
header nav .navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 50px;
  align-items: center;
}
@media (max-width: 1060px) {
  header nav .navbar {
    width: 75%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--White);
    padding: 80px 20px;
  }
}
header nav .navbar ul {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}
@media (max-width: 1060px) {
  header nav .navbar ul {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }
}
header nav .navbar ul li {
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid transparent;
  color: var(--Dark-grayish-blue);
}
@media (max-width: 1060px) {
  header nav .navbar ul li {
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
header nav .navbar ul li.active {
  border-color: var(--Orange);
  color: var(--Very-dark-blue);
}
@media (max-width: 1060px) {
  header nav .navbar ul li.active {
    border-color: transparent;
    color: #000000;
  }
}
header nav .navbar ul li:hover {
  border-color: var(--Orange);
  color: var(--Very-dark-blue);
}
@media (max-width: 1060px) {
  header nav .navbar ul li:hover {
    border-color: transparent;
    color: #000000;
  }
}
header nav .navbar ul li span {
  font-size: 16px;
}
@media (max-width: 1060px) {
  header nav .navbar ul li span {
    font-weight: bolder;
    color: #000000;
  }
}
header .user-actions {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}
header .user-actions .basket {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .user-actions .basket .basket-image {
  width: 25px;
  height: 25px;
  background-color: var(--White);
}
header .user-actions .basket .basket-image:hover ~ .basket-dropdown {
  display: flex;
}
header .user-actions .basket .basket-dropdown {
  z-index: 20;
  background-color: var(--White);
  width: 300px;
  height: -moz-fit-content;
  height: fit-content;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 80%;
  right: 0;
  border-radius: 10px;
  box-shadow: -7px 26px 50px -10px rgba(0, 0, 0, 0.75);
}
header .user-actions .basket .basket-dropdown.active {
  display: flex;
}
header .user-actions .basket .basket-dropdown .dropdown-header {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid var(--Grayish-blue);
}
header .user-actions .basket .basket-dropdown .dropdown-header h3 {
  color: var(--Very-dark-blue);
}
header .user-actions .basket .basket-dropdown .dropdown-main {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
}
header .user-actions .basket .basket-dropdown .dropdown-main .empty-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--Dark-grayish-blue);
}
header .user-actions .basket .basket-dropdown .dropdown-main .empty-message.active {
  display: flex;
}
header .user-actions .basket .basket-dropdown .dropdown-main .cart-products {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
header .user-actions .basket .basket-dropdown .dropdown-main .cart-products .product {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
header .user-actions .basket .basket-dropdown .dropdown-main .cart-products .product-image {
  width: 50px;
  height: 50px;
}
header .user-actions .basket .basket-dropdown .dropdown-main .cart-products .product-image img {
  width: 100%;
  height: 100%;
  inset: 0;
  border-radius: 10px;
}
header .user-actions .basket .basket-dropdown .dropdown-main .cart-products .product-info {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 7px;
}
header .user-actions .basket .basket-dropdown .dropdown-main .cart-products .product-info .product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
header .user-actions .basket .basket-dropdown .dropdown-main .cart-products .product-info .product-price span {
  font-size: 18px;
  font-weight: bold;
}
header .user-actions .basket .basket-dropdown .dropdown-main .checkout-button {
  width: 100%;
  height: 40px;
  display: none;
}
header .user-actions .basket .basket-dropdown .dropdown-main .checkout-button.active {
  display: block;
}
header .user-actions .basket .basket-dropdown .dropdown-main .checkout-button button {
  width: 100%;
  height: 100%;
  background-color: var(--Orange);
  color: var(--White);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 13px;
}
header .user-actions .user-profile {
  width: 45px;
  height: 45px;
  cursor: pointer;
  border-radius: 50%;
}
header .user-actions .user-profile:hover {
  border: 3px solid var(--Orange);
}
header .user-actions .user-profile img {
  width: 100%;
  height: 100%;
  inset: 0;
}

main {
  width: 80%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1060px) {
  main {
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
@media (max-width: 500px) {
  main {
    width: 100%;
  }
}
main .banner-section {
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 50px;
}
@media (max-width: 1260px) {
  main .banner-section {
    padding: 100px 0;
  }
}
@media (max-width: 1060px) {
  main .banner-section {
    width: 400px;
    height: -moz-fit-content;
    height: fit-content;
    padding: 50px 0;
  }
}
@media (max-width: 500px) {
  main .banner-section {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
  }
}
main .banner-section .image-wrapper {
  width: 450px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1260px) {
  main .banner-section .image-wrapper {
    width: 100%;
  }
}
main .banner-section .image-wrapper .banner-galeri {
  width: 100%;
  height: 100%;
}
main .banner-section .image-wrapper .banner-galeri img {
  display: none;
  width: 100%;
  height: 100%;
  inset: 0;
  border-radius: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}
main .banner-section .image-wrapper .banner-image {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
}
main .banner-section .image-wrapper .banner-image .banner-next-button {
  z-index: 15;
  width: 40px;
  height: 40px;
  padding: 12px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: var(--White);
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 500px) {
  main .banner-section .image-wrapper .banner-image .banner-next-button {
    display: flex;
  }
}
main .banner-section .image-wrapper .banner-image .banner-prev-button {
  z-index: 15;
  width: 40px;
  height: 40px;
  padding: 12px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background-color: var(--White);
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 500px) {
  main .banner-section .image-wrapper .banner-image .banner-prev-button {
    display: flex;
  }
}
main .banner-section .image-wrapper .banner-image img {
  width: 100%;
  height: 100%;
  inset: 0;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
}
@media (max-width: 500px) {
  main .banner-section .image-wrapper .banner-image img {
    border-radius: 0;
  }
}
main .banner-section .image-wrapper .other-pictures {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  main .banner-section .image-wrapper .other-pictures {
    display: none;
  }
}
main .banner-section .image-wrapper .other-pictures .picture {
  width: 80px;
  height: 80px;
  border-radius: 12px;
  cursor: pointer;
}
main .banner-section .image-wrapper .other-pictures .picture.active {
  border: 2px solid var(--Orange);
}
main .banner-section .image-wrapper .other-pictures .picture.active.active img {
  opacity: 0.3;
}
main .banner-section .image-wrapper .other-pictures .picture:hover {
  opacity: 0.5;
}
main .banner-section .image-wrapper .other-pictures .picture img {
  width: 100%;
  height: 100%;
  inset: 0;
  border-radius: 10px;
}
main .content-section {
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 50px;
}
@media (max-width: 1060px) {
  main .content-section {
    width: 400px;
    height: -moz-fit-content;
    height: fit-content;
    padding: 20px 0;
  }
}
@media (max-width: 500px) {
  main .content-section {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px;
  }
}
main .content-section .product {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-right: 180px;
  gap: 30px;
}
@media (max-width: 1700px) {
  main .content-section .product {
    padding-right: 0;
  }
}
main .content-section .product-company {
  width: 100%;
}
main .content-section .product-company h3 {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bolder;
  color: var(--Orange);
}
main .content-section .product-title {
  width: 100%;
}
main .content-section .product-title h2 {
  font-size: 50px;
  font-weight: bolder;
}
@media (max-width: 500px) {
  main .content-section .product-title h2 {
    font-size: 36px;
  }
}
main .content-section .product-description {
  width: 100%;
}
main .content-section .product-description p {
  font-size: 16px;
  line-height: 25px;
}
main .content-section .product-price-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
@media (max-width: 500px) {
  main .content-section .product-price-wrapper {
    flex-wrap: nowrap;
  }
}
main .content-section .product-price-wrapper .price span {
  font-size: 28px;
  font-weight: bold;
}
main .content-section .product-price-wrapper .discount {
  background-color: var(--Pale-orange);
  padding: 3px 10px;
}
main .content-section .product-price-wrapper .discount span {
  font-size: 16px;
  color: var(--Orange);
  font-weight: bold;
}
main .content-section .product-price-wrapper .previous-price {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 500px) {
  main .content-section .product-price-wrapper .previous-price {
    justify-content: flex-end;
  }
}
main .content-section .product-price-wrapper .previous-price p {
  color: var(--Grayish-blue);
  font-weight: bold;
  font-size: 14px;
}
main .content-section .product-actions {
  width: 100%;
  display: flex;
  gap: 15px;
}
@media (max-width: 500px) {
  main .content-section .product-actions {
    flex-direction: column;
  }
}
main .content-section .product-actions .product-quantity {
  width: 30%;
  height: 50px;
  background-color: var(--Light-grayish-blue);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  main .content-section .product-actions .product-quantity {
    width: 100%;
  }
}
main .content-section .product-actions .product-quantity .minus {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
main .content-section .product-actions .product-quantity .quantity-screen {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .content-section .product-actions .product-quantity .quantity-screen span {
  font-weight: bold;
  font-size: 14px;
}
main .content-section .product-actions .product-quantity .plus {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
main .content-section .product-actions .add-to-cart {
  width: 60%;
  height: 50px;
}
@media (max-width: 500px) {
  main .content-section .product-actions .add-to-cart {
    width: 100%;
  }
}
main .content-section .product-actions .add-to-cart button {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--Orange);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
main .content-section .product-actions .add-to-cart button p {
  color: var(--White);
  font-size: 12px;
}

.modal-container {
  z-index: 9;
  width: 100%;
  height: 960px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5647058824);
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-container.active {
  display: flex;
}
@media (max-width: 500px) {
  .modal-container.active {
    display: none;
  }
}
.modal-container .modal {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (max-width: 700px) {
  .modal-container .modal {
    width: 100%;
    padding: 10px;
  }
}
@media (max-width: 500px) {
  .modal-container .modal {
    display: none;
  }
}
.modal-container .modal .close-modal-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}
.modal-container .modal .close-modal-wrapper img {
  width: 20px;
  height: 20px;
  inset: 0;
}
.modal-container .modal .modal-image {
  width: 100%;
  height: 100%;
  position: relative;
}
.modal-container .modal .modal-image .modal-galeri {
  width: 100%;
  height: 100%;
}
.modal-container .modal .modal-image .modal-galeri img {
  display: none;
  width: 100%;
  height: 100%;
  inset: 0;
  border-radius: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}
.modal-container .modal .modal-image .prev-button {
  width: 50px;
  height: 50px;
  padding: 15px;
  background-color: var(--White);
  border-radius: 50%;
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 700px) {
  .modal-container .modal .modal-image .prev-button {
    left: 25px;
  }
}
.modal-container .modal .modal-image .prev-button img {
  width: 100%;
  height: 100%;
}
.modal-container .modal .modal-image .next-button {
  width: 50px;
  height: 50px;
  padding: 15px;
  background-color: var(--White);
  border-radius: 50%;
  position: absolute;
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 700px) {
  .modal-container .modal .modal-image .next-button {
    right: 25px;
  }
}
.modal-container .modal .modal-image .next-button img {
  width: 100%;
  height: 100%;
}
.modal-container .modal .other-modal-pictures {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.modal-container .modal .other-modal-pictures .js-picture {
  width: 20%;
  cursor: pointer;
  border-radius: 15px;
}
.modal-container .modal .other-modal-pictures .js-picture.active {
  border: 3px solid var(--Orange);
}
.modal-container .modal .other-modal-pictures .js-picture.active.active img {
  opacity: 0.4;
}
.modal-container .modal .other-modal-pictures .js-picture:hover {
  opacity: 0.5;
}
.modal-container .modal .other-modal-pictures .js-picture img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: rgba(0, 0, 0, 0.75);
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Kumbh Sans", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.container header {
  width: 80%;
  height: 120px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--Grayish-blue);
}
@media (max-width: 500px) {
  .container header {
    width: 100%;
  }
}
.container main {
  width: 80%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1060px) {
  .container main {
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .container main {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */