@import "./header/header";
@import "./main/_main";
@import "./modal/_modal";
@import "./_reset";

:root {
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: rgba(0, 0, 0, 0.75);
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Kumbh Sans", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  header {
    width: 80%;
    height: 120px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--Grayish-blue);
    @media (max-width: 500px) {
      width: 100%;
    }
  }

  main {
    width: 80%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 1060px) {
      height: 100%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
    @media (max-width: 500px) {
      width: 100%;
    }
  }
}
